numpy
pandas
scipy

matplotlib
plotly

ipywidgets
ipykernel
notebook
voila

openpyxl

scikit-learn
statsmodels

requests
python-dotenv

sqlalchemy


ipympl

xlsxwriter

ipywidgets


seaborn
jupyter
nbconvert